.container {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 16px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.hi {
  color: #fff;
  /* color: var(--imp-text); */
  font-size: 14pt;
  line-height: 32px;
  word-spacing: 4px;
}

.link {
  text-decoration: none;
  color: var(--normal-text);
  font-weight: bold;
  transition: ease-in-out 0.2s;
}

.link:hover {
  color: #fff;
}

.active {
  color: var(--imp-text);
}

.mobile_relative_position {
  display: none;
  position: relative;
}

.close_container {
  display: none;
}

@media only screen and (max-width: 478px) {
  .container {
    display: none;
  }

  .mobile_relative_position {
    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 16px 32px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  .menu_button {
    border: none;
    background: none;
    color: #fff;
    background-color: tomato;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: ease-in-out 0.3s;
    z-index: 1000;
  }

  .menu_button:hover {
    background-color: #fff;
    color: #000;
  }

  .close_container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .menu_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.8);
    animation: slideTopBottom 0.8s ease-out forwards;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  }

  @keyframes slideTopBottom {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
}
