.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.hi {
  font-size: 14pt;
  color: var(--imp-text);
  font-weight: bold;
  text-decoration: underline;
}

.project_container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  width: fit-content;
  padding: 32px;
}

.single_project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.18);
  padding: 32px 16px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.18);
  border-radius: 8px;
}

.single_project:nth-child(even) {
  text-align: right;
}

.single_project h5 {
  color: var(--imp-text);
  text-decoration: underline;
  font-size: 12pt;
  word-spacing: 2px;
  padding-bottom: 8px;
}

.single_project p {
  word-spacing: 2px;
  line-height: 32px;
}

.para_title {
  font-weight: bold;
}

/* project container */
.silde_1 {
  animation: sildeLeft 0.8s ease-out forwards;
  opacity: 0;
}

/* project starts */
.silde_2 {
  animation: sildeRight 0.8s ease-out forwards;
  animation-delay: 1s;
  opacity: 0;
}
.silde_3 {
  animation: sildeLeft 0.8s ease-out forwards;
  animation-delay: 2s;
  opacity: 0;
}
.silde_4 {
  animation: sildeRight 0.8s ease-out forwards;
  animation-delay: 3s;
  opacity: 0;
}
.silde_5 {
  animation: sildeLeft 0.8s ease-out forwards;
  animation-delay: 4s;
  opacity: 0;
}
.silde_6 {
  animation: sildeRight 0.8s ease-out forwards;
  animation-delay: 5s;
  opacity: 0;
}

@keyframes sildeLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes sildeRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
