.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 64px 32px;
  flex-wrap: wrap;
}

.about_me_container,
.objective_container {
  background-color: rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  border-radius: 8px;
  height: 100%;
  width: 50%;
  padding: 32px;
  flex: 1;
  opacity: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.about_me_container {
  animation: slideIn 1s ease-out forwards;
}

.hi {
  color: var(--imp-text);
  font-size: 14pt;
  line-height: 32px;
  word-spacing: 4px;
  opacity: 0;
}

.about_me,
.objective {
  line-height: 24px;
  word-spacing: 2px;
  opacity: 0;
}

.slide_first {
  animation: slideIn 1s ease-out forwards;
  animation-delay: 1s;
}

.slide_second {
  animation: slideIn 1s ease-out forwards;
  animation-delay: 2s;
}

.objective_container {
  animation: slideRight 1s ease-out forwards;
  animation-delay: 3s;
}

.slide_third {
  animation: slideRight 1s ease-out forwards;
  animation-delay: 4s;
}

.slide_forth {
  animation: slideRight 1s ease-out forwards;
  animation-delay: 5s;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 543px) {
  .about_me_container,
  .objective_container {
    width: 100%;
  }
}
